<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 tabindex="-1" id="help-heading">Hilfe Lesesoftware:</h1>
            </div>
            <div class="modal-body">
                <div id="viewer-help-body">
                    <h2>Navigation</h2>
                    <ul>
                        <li> Navigieren Sie bitte in der Anwendung mit der Tab-Taste oder mit den Tastenkürzeln</li>
                        <li> Im Inhaltsbereich und im Inhaltsverzeichnis navigieren Sie wie gewohnt mit den
                            Pfeil-Tasten
                        </li>
                    </ul>
                    <h2>Tastenkürzel</h2>
                    <p>Firefox:</p>
                    <ul>
                        <li>Alt+Shift+b zurück zum Bücherregal</li>
                        <li>Alt+Shift+ t öffnet das Inhaltsverzeichnis</li>
                        <li>Alt+Shift +f die Suche</li>
                        <li>Im Inhaltsverzeichnis: Alt + Shift + Pos1 ersten Eintrag auswählen</li>
                        <li>Im Inhaltsverzeichnis: Alt + Shift + Ende letzten Eintrag auswählen</li>
                    </ul>
                    <p>Safari:</p>
                    <ul>

                    </ul>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-inverse" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>