<div class="btn-group navbar-left">
    <p id="copyright">© 2017 DZB. All Rights Reserved.</p>
    <!--<button id="aboutButt1" tabindex="4" type="button" class="btn icon-logo" data-toggle="modal" data-target="#about-dialog" title="{{strings.about}}" aria-label="{{strings.about}}"></button>-->
</div>
<div class="btn-group navbar-right">
    <!--<img role="img" src="http://dzb.de/img/logos/dzb_sprite_home_mini.png" width="37" height="37" aria-label="DZB Logo"/>-->
    <button tabindex="-1" style="background: transparent" type="button" class="btn icon-annotations">
        <!--<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>-->
    </button>
</div>