.offscreen {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

body.keyboard button:focus,
body.keyboard #app-navbar button:focus,
body.keyboard #app-navbar input[type="text"]:focus,
body.keyboard #app-navbar input[type="radio"]:focus + label,
body.keyboard #app-navbar input[type="range"]:focus,
body.keyboard input[type="radio"]:focus + label,
body.keyboard input[type="range"]:focus,
body.keyboard input[type="text"]:focus,
.navbar-reader-middle:focus {
    box-shadow: 0px 0px 25px #1182ba !important;
    outline: #d32d11 solid 4px !important;
}

.contentFocus {
    outline: #d32d11 solid 4px !important;
    outline-offset: 3px !important;
    /*box-shadow: 0px 0px 30px  #d32d11;*/
}