.offscreen {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

body.keyboard button:focus,
body.keyboard #app-navbar button:focus,
body.keyboard #app-navbar input[type="text"]:focus,
body.keyboard #app-navbar input[type="radio"]:focus + label,
body.keyboard #app-navbar input[type="range"]:focus,
body.keyboard input[type="radio"]:focus + label,
body.keyboard input[type="range"]:focus,
body.keyboard input[type="text"]:focus,
a:focus,
.navbar-reader-center:focus {
    box-shadow: 0px 0px 25px #1182ba !important;
    outline: #d32d11 solid 4px !important;
}

/*:active {*/
    /*color: red;*/
/*}*/

.contentFocus {
    outline: #d32d11 solid 4px !important;
    outline-offset: 3px !important;
    /*box-shadow: 0px 0px 30px  #d32d11;*/
}

#readium-toc-body {
    aria-hidden: true;
}

/* move the jquery accessible helper to offscreen area */ 
.ui-helper-hidden-accessible {
    position: absolute;
    left: -9999px;
}