#copyright {
    color: white;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    font-weight: bold;
    margin-left: 10px;
}

.navbar-reader-middle {
    position: absolute;
    top: 0;
    text-align: center;
    color: #ddd;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    font-weight: bold;
    margin-top: 10px;
    left: 40%;
    display: block;
    width: 300px;
}
