#copyright, .navbar-reader-center {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    color: #ddd;
    font-weight: bold;
}

#copyright {
    margin-left: 10px;
}

.navbar-reader-center {
    font-size: 16px;
    position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    text-align: center;
    margin-top: 7px;
    display: inline-block;
}

body:not(.list-view) #app-container .library-item .info-wrap button {
    width: 100%;
}

.has-cover {
    background-size: 101%; /* To fill the dimensions of container (button), or */
}

#readium-toc-body {
    background: #ffffff;
    aria-hidden: true;
    padding-left: 10%;
    border-right: 0;
    overflow-y: scroll; /* adds scrollbar */
}

#readium-toc-body > ol > li {
    border-top: 1px solid black;
}

#readium-toc-body ol {
    list-style-type: none;
}

#readium-toc-body li {
    margin-bottom: 10px;
}

.toc-visible #readium-toc-body {
    width: 100%;
}

.toc-visible #reading-area {
    left: 100%;
}

@media (max-width: 350px) {
    .navbar-reader-center {
        display: none;
    }

    #readium-toc-body {
        padding-left: 1%;
    }
}

.navbar-right {
    float: right !important;
}

nav.landmarks ol li,
nav.page-list  ol li {
    float: left;
    padding-right: 1em;
    margin: 1em 0px 0px;
}
