#
# See package.cson for more information
#


#=====================

    'cloudReaderWithFullTextSearch': '

        
        npm run dist:cloudReader
        &&
        npm run dist:cloudReaderWithFullTextSearch:copy
        &&
        npm run dev:cloudReaderWithFullTextSearch:copy
        &&
        node ./dist/readium-full-text-search-demo/main.js
        
    '
    
#=====================

    'dist:cloudReaderWithFullTextSearch': '

        npm run dist:cloudReader
        &&
        npm run dist:cloudReaderWithFullTextSearch:copy
    '
    
#=====================
    'dist:cloudReaderWithFullTextSearch:copy': '
        
        npm run cpy
            src/cloud-reader/full_text_search/main.js
            dist/readium-full-text-search-demo/
        &&    
        npm run cpy
            src/cloud-reader/full_text_search/package.json
            dist/readium-full-text-search-demo/
        &&    
            npm run cpy
            src/cloud-reader/full_text_search/epub_library.json
            dist/readium-full-text-search-demo/epub_content
               
    '
#=====================
    'dev:cloudReaderWithFullTextSearch:copy': '
        npm run cpy
            src/cloud-reader/full_text_search/index.html
            dist/readium-full-text-search-demo/
        &&
        npm run ncp 
            epub_content/ 
            dist/readium-full-text-search-demo/epub_content
    '
    
#=====================
    'prepare:cloudReaderWithFullTextSearch': '
        npm run cpy
            src/cloud-reader/full_text_search/index.html
            dist/readium-full-text-search-demo/
        &&
        npm run ncp 
            epub_content/ 
            dist/readium-full-text-search-demo/epub_content
    '

#=====================
    'dev:runservice': '
        cd node_modules/epub-full-text-search
    '

